/*Colors*/
:root {
  --brown: #5b3b4a;
  --princess: #ffe5f5;
  --queen: #f12574;
  --tangerine: #ffa089;
  --green: #28392f;
  --blush: #FFF9FD;
}

/*Typography*/
@font-face {
  font-family: Celestial;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Celestial2.otf);
}

@font-face {
  font-family: Holtzman;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Holtzman-Textured.otf);
}

@font-face {
  font-family: Comfortaa;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Comfortaa-Regular.ttf);
}

* {
  font-family: Comfortaa;
  font-size: 16px;
  color: var(--brown);
}

h1,
h3,
h5 {
  font-family: "Celestial";
  font-weight: 400 !important;
}

h2,
h4,
h6, .announcement__date {
  font-family: "Holtzman";
  font-weight: 400 !important;
}

h1, .sidebar h1 {
  font-size: 32px;
}

h2, .sidebar h2, .panel-topic-title {
  font-size: 32px;
  color: var(--brown);
}

h3, .sidebar h3 {
  font-size: 26px;
  color: var(--brown);
}

h4, .sidebar h4 {
  font-size: 26px;
}

h5, .sidebar h5 {
  font-size: 22px;
}

h6, .sidebar h6 {
  font-size: 22px;
}

.content {
  background-color: #fee;
}

.top-bar-text strong {
  font-family: Celestial;
  color: var(--princess);
  font-weight: 400;
  font-size: 22px;
}

.community-guidelines li {
  padding-top: 6px;
}

.user-info-buttons a.btn-primary {
  background-color: var(--queen);
  border-color: var(--queen);
}

.user-info-type {
  color: var(--tangerine);
}
