/*Colors*/
:root {
  --brown: #5B3B4A;
  --princess: #FFE5F5;
  --queen: #F12574;
  --tangerine: #FFA089;
  --green: #28392F;
}

/*

Remember how to use variables:

element {
  background-color: var(--main-bg-color);
}

*/

/*Typography*/
@font-face {
  font-family: Celestial;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Celestial2.otf);
}

@font-face {
  font-family: Holtzman;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Holtzman-Textured.otf);
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Comfortaa-Regular.ttf);
}

h1, h3, h5 {
font-family: 'Celestial';
font-weight: 400!important;
}

h2, h4, h6 {
font-family: 'Holtzman';
font-weight: 400!important;
}

p, li, .link-list__link {
  font-family: 'Comfortaa-Regular';
  font-weight: 400;
}

a:not(.link-list__link):not(.btn) {
  color: var(--queen);
  text-decoration: underline;
}

blockquote{
  border-left: 2px solid var(--tangerine);
  padding-left: 2px;
}

.btn {
  font-family: 'Holtzman';
  font-weight:400;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
