/*Colors*/
:root {
  --brown: #5b3b4a;
  --princess: #ffe5f5;
  --queen: #f12574;
  --tangerine: #ffa089;
  --green: #28392f;
  --blush: #FFF9FD;
}

/*
  
  Remember how to use variables:
  
  element {
    background-color: var(--main-bg-color);
  }
  
  */

/*****************/
/*WEB*PAGE*STYLES*/
/*****************/

/*Typography*/
@font-face {
  font-family: Celestial;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Celestial2.otf);
}

@font-face {
  font-family: Holtzman;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Holtzman-Textured.otf);
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url(https://cdn.jsdelivr.net/gh/mike-battaglia/innerspark-files/fonts/Comfortaa-Regular.ttf);
}

h1,
h3,
h5 {
  font-family: "Celestial";
  font-weight: 400 !important;
}

h2,
h4,
h6, .announcement__date {
  font-family: "Holtzman";
  font-weight: 400 !important;
}

p,
li,
.link-list__link,
.copyright,
.announcement__body,
.announcement__link {
  font-family: "Comfortaa-Regular";
  /*font-weight: 400;*/
}

.auth__label,
.auth__link {
  font-family: "Comfortaa-Regular";!important
}

main p a {
  color: var(--queen)!important;
  text-decoration: underline;
}

.accordion h5, .card__price {
  font-size: 1.5em;
}

/*Buttons*/
.btn--small {
  font-family: "comfortaa";
  font-weight: 400;
}

.btn--medium {
  font-family: "holtzman";
  font-weight: 400;
  font-size: 1.5em;
}

.btn--large {
  font-family: "celestial";
  font-weight: 400;
  font-size: 1.75em;
}

/*Elements*/
blockquote {
  border-left: 4px solid var(--tangerine);
  padding-left: 8px;
}

/*Post-checkout library portal elements*/

#kjb-mobile-banner {
  background-color: var(--tangerine)!important;
  color: var(--brown)!important;
  
}

#kjb-mobile-banner button {
  background-color: var(--brown)!important;
  font-family: 'comfortaa';
}

.flash--success, .flash--success h5 {
  background-color: var(--tangerine);
  color: var(--brown)!important;
  font-family: 'holtzman';
  font-size: 1.2em!important;
}

a.announcement__link {
  background-color: var(--princess)!important;
  margin: auto;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
  border-radius: 8px
}
